{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage", // or "entry"
      "corejs": 3,
      "targets": {
        // Grade A browsers per https://github.com/wikimedia/mediawiki/blob/2aed14b686/resources/src/startup/startup.js#L10
        "chrome": "13",
        "opera": "15",
        "firefox": "4",
        "safari": "5",
        "ie": "11",
        "ios": "6",
        "android": "4.1"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}