{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage", // or "entry"
      "corejs": 3,
      "targets": {
        // Grade A browsers per https://www.mediawiki.org/wiki/Template:Compatibility_browser
        "chrome": "103", // https://bestim.org/chrome-versions
        "edge": "103", // https://video2.skills-academy.com/en-us/DeployEdge/microsoft-edge-release-schedule
        "firefox": "102", // https://whattrainisitnow.com/calendar/
        "safari": "11.1",
        "ios": "11.3",
        "android": "6"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}