node_modules
# ignore builds - can be recreated by running `npm run build`
dist/*
# ignore globals.js - built during building and/or testing
globals.js
# ignore credentials used for deployment
credentials.json