/* == Show/hide box == */
#XFDcloser-showhide {
	bottom: 0;
	display: block;
	position: fixed;
	right: 0;
	z-index: 100;
	padding: 5px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
	background-color: var(--background-color-warning-subtle, #fdf2d5);
	color: inherit;
	border: 1px solid #aaa;
	border-radius: 5px;
	font-size: 85%;
}
