
/* Inline links */
.xfdc-status {
	font-size: 85%;
	margin-left: 13px;
	font-weight: normal;
}
.xfdc-action { margin-left: 13px; }
.xfdc-action a { cursor: pointer; }

.xfdc-qc-cancel {
	cursor: pointer;
	border: 1px solid #777;
	border-radius: 10px;
	font-weight: bold;
	font-size: 90%;
	color: #777;
	padding: 0;
	margin: 0 1px;
}

/* Style actions based on detected age */
.xfdc-old .xfdc-action { background-color: #c6ffc6; }
.xfdc-notOld .xfdc-action { background-color: #ffc6c6; }
.xfdc-unknownAge .xfdc-action { background-color: #ffffc6; }
.xfdc-notOld.xfdc-relisted .xfdc-action { background-color: #ffe9c6; }

/* Show/hide box */
#XFDcloser-showhide {
	bottom: 0;
	display: block;
	position: fixed;
	right: 0;
	z-index: 100;
	padding: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	background-color: #fef9e6;
	border: 1px solid #aaa;
	border-radius: 5px;
	font-size: 85%;
}

/* == OOUI overrides == */

/* Fix left padding when labelPosition:before is used on a TextInputWidget.
 * Is otherwise set to 0px via inline style on the <input> element.
 */
.oo-ui-textInputWidget.oo-ui-textInputWidget-labelPosition-before.padLeft2em .oo-ui-inputWidget-input {
	padding-left: 2em !important;
}

.oo-ui-textInputWidget.oo-ui-textInputWidget-labelPosition-before.padLeft4em .oo-ui-inputWidget-input {
	padding-left: 4em !important;
}
