
/* Inline links */
.xfdc-status {
	font-size: small;
	margin-left: 13px;
	font-weight: normal;
}

.skin-timeless .xfdc-status {
	font-size: 0.98rem;
}

.skin-minerva .xfdc-status {
	font-size: 0.98rem;
	display: block;
	margin: -1rem 0 1rem;
}

.xfdc-action {
	font-weight: normal;
}
.xfdc-action a { cursor: pointer; }

.xfdc-qc-cancel {
	cursor: pointer;
	border: 1px solid #777;
	border-radius: 10px;
	font-weight: bold;
	font-size: 90%;
	color: #777;
	padding: 0;
	margin: 0 1px;
}

/* Style actions based on detected age */
.xfdc-old .xfdc-action { background-color: #c6ffc6; }
.xfdc-notOld .xfdc-action { background-color: #ffc6c6; }
.xfdc-unknownAge .xfdc-action { background-color: #ffffc6; }
.xfdc-notOld.xfdc-relisted .xfdc-action { background-color: #ffe9c6; }

/* Show/hide box */
#XFDcloser-showhide {
	bottom: 0;
	display: block;
	position: fixed;
	right: 0;
	z-index: 100;
	padding: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	background-color: #fef9e6;
	border: 1px solid #aaa;
	border-radius: 5px;
	font-size: 85%;
}

/* == OOUI overrides == */

/* Fix left padding when labelPosition:before is used on a TextInputWidget.
 * Is otherwise set to 0px via inline style on the <input> element.
 */
.oo-ui-textInputWidget.oo-ui-textInputWidget-labelPosition-before.padLeft2em .oo-ui-inputWidget-input {
	padding-left: 2em !important;
}

.oo-ui-textInputWidget.oo-ui-textInputWidget-labelPosition-before.padLeft4em .oo-ui-inputWidget-input {
	padding-left: 4em !important;
}

/* Consistent padding for menu option widgets (is inexplicably different in skins using Apex theme instead of MediaWikiUi theme) */
.xfdc-menuOptionWidget.oo-ui-decoratedOptionWidget {
	padding: 7px 12px;
}

/* Force task notices, warnings, and errors to all be shown on their own line */
.xfdc-taskItemWidget > .oo-ui-fieldLayout-messages {
	clear: both;
}

/* == draggbleWindow styles == */

html body.ooui-draggbleWindow-open {
	position: unset;
	overflow: unset;
	margin-right: unset !important; /* phab:T231138 */
}

html body.ooui-draggbleWindow-open .oo-ui-windowManager-modal > .oo-ui-dialog.oo-ui-window-active {
	position: static;
	padding: 0;
}

/* Increase z-index, to be above skin menus etc; smooth transition for dragging (transform:translate) */
html body.ooui-draggbleWindow-open .oo-ui-dialog.oo-ui-window-active > div {
	z-index: 110;
	transition: all 0.25s ease-out 0s, transform 0s !important;
}
